body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    text-align: center;
}

.container {
    margin-top: 100px;
    background: white;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

input {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

#weatherResult {
    margin-top: 15px;
}
